:root,
:root.light {
  --bg-color: white;
  --text-color: black;
  --secondary-text-color: silver;
}
:root.dark {
  --bg-color: black;
  --text-color: white;
  --secondary-text-color: silver;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Orbitron", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: crosshair;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

a:link,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: silver;
  cursor: cell;
  text-decoration: none;
}
a:active {
  color: rgb(255, 211, 130);
  text-decoration: none;
}

.title {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0%;
  z-index: 2;
}

.animationContainer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0%;
  z-index: 1;
}

.albumCovers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: var(--bg-color);
  color: silver;
  padding: 2vw;
  border: 5px solid silver;
  border-radius: 15px;
}

.friendsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: lightgrey;
  color: black;
  font-size: 1.5rem;
  padding: 2vw;
  padding-bottom: 8%;
  border: 5px solid white;
  border-radius: 15px;
}

#footer {
  color: var(--text-color);
}

/* Desktop */
@media (min-width: 701px) {
  .title {
    font-size: 4vw;
  }
  img {
    width: 500px;
    height: 500px;
    padding-top: 10px;
  }

  .albumInfo {
    font-size: 1.5rem;
  }
  #footer {
    font-size: 1.5rem;
  }
  .space {
    margin-bottom: 10vh;
  }

  iframe {
    width: 560px;
    height: 1000px;
  }

  .friendsInfo {
    font-size: 1.5rem;
  }
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .title {
    font-size: 6vw;
  }
  img {
    width: 250px;
    height: 250px;
    padding-top: 10px;
  }

  iframe {
    width: 80vw;
    height: 71vh;
  }

  .friendsInfo {
    font-size: 1.2rem;
    width: 80%;
  }
}
